body { 
    margin: 0;
    padding: 0;
    background-color: gray;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
head {
 background-color: white;
 color: white;
 padding: 20px;
 text-align: left;
 image-rendering: auto;
}
.table-container {
    background-color: white;
    padding: 20px;
    text-align: center;
}
nav ul {
    background: brown;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
}
nav ul li {
    display:inline;
    padding:20px;
    line-height: 48px;
}
table  {
text-align: center;

}
